{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">

            <div class="col-md-6">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d336944.16390908323!2d-121.4258889822408!3d48.71740133392265!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x548512b8506cf411%3A0x52084fb0ae6433ed!2sNorth%20Cascades%20National%20Park!5e0!3m2!1sen!2sus!4v1658790722886!5m2!1sen!2sus"
                        width="100%" height="700" style="border:0;" allowfullscreen=""
                        aria-hidden="false" tabindex="0"></iframe>

            </div>


            <div class="col-md-6 text-center">
                <h1 class="mt-5">Contact Us</h1>
                <p>Email: <a href="mailto:contact@wanda.com">contact@wandaandhao.com</a></p>
            </div>
        </div>
    </div>
{{end}}