{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <img alt="room image" class="room-image img-fluid img-thumbnail mx-auto d-block"
                     src="/static/images/generals-quarters.png">
            </div>
        </div>

        <div class="row">
            <div class="col">
                <h1 class="text-center mt-4">General's Quarters</h1>
                <p>
                    Your home away from home, set on the majestic waters of the Atlantic Ocean, this will be a vacation
                    to
                    remember.
                    Your home away from home, set on the majestic waters of the Atlantic Ocean, this will be a vacation
                    to
                    remember.
                    Your home away from home, set on the majestic waters of the Atlantic Ocean, this will be a vacation
                    to
                    remember.
                    Your home away from home, set on the majestic waters of the Atlantic Ocean, this will be a vacation
                    to
                    remember.
                </p>
            </div>
            <div class="row">
                <div class="col text-center">
                    <a id="check-availability-button" class="btn btn-success" href="#!">Check Availability</a>
                </div>
            </div>
        </div>
    </div>
{{end}}

{{define "js"}}
    <script>
        document.getElementById("check-availability-button").addEventListener("click", function () {
            let html = `
                <form id="check-availability-form" action="" method="post" novalidate class="needs-validation search-form">
                    <div class="d-flex flex-row justify-content-evenly" id="reservation-dates-modal">
                        <div class="p-2">
                            <input required class="form-control" type="text" name="start" id="start" placeholder="Arrival">
                        </div>
                        <div class="p-2">
                            <input required class="form-control" type="text" name="end" id="end" placeholder="Departure">
                        </div>
                    </div>
                </form>
`
            attention.custom({msg: html, title: "Choose your dates"});
        });
    </script>
{{end}}