{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <img alt="room image" class="room-image img-fluid img-thumbnail mx-auto d-block"
                     src="../static/images/majors-suite.png">
            </div>
        </div>

        <div class="row">
            <div class="col">
                <h1 class="text-center mt-4">Major's Suite</h1>
                <p>
                    Your home away from home, set on the majestic waters of the Atlantic Ocean, this will be a vacation
                    to
                    remember.
                    Your home away from home, set on the majestic waters of the Atlantic Ocean, this will be a vacation
                    to
                    remember.
                    Your home away from home, set on the majestic waters of the Atlantic Ocean, this will be a vacation
                    to
                    remember.
                    Your home away from home, set on the majestic waters of the Atlantic Ocean, this will be a vacation
                    to
                    remember.
                </p>
            </div>
            <div class="row">
                <div class="col text-center">
                    <a id="check-availability-button" class="btn btn-success" href="#!">Check Availability</a>
                </div>
            </div>
        </div>
    </div>

{{end}}

{{define "js"}}
    <script>
        chooseDatesPopUp(2)
    </script>
{{end}}